body {
  background-color: #f9f7fe;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  color: #551a8b;
}

h1::before {
  content: "🌍 ";
}

h2 {
  margin: 0 0 5px;
  font-size: 28px;
  color: #551a8b;
}

select {
  display: block;
  width: 100%;
  font-size: 18px;
  border-radius: 4px;
  padding: 10px;
  background-color: #844abb;
  border: 2px solid #1e2a2e;
  transition: all 0.3s ease;
}

select:hover {
  background-color: #b6eafa;
  border-color: #a975da;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

select:focus {
  outline: none;
  border-color: #a975da;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  background: white;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  position: relative;
  border: 4px dashed #38135c;
  overflow: hidden;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.city {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border: 2px hidden #f4f4f4;
  border-radius: 5px;
  transition: all 0.3s ease;
  position: relative;
}

.city:hover {
  background-color: #f7f7f7;
  border-color: #a975da;
  border: 2px groove #a975da;
}

.city .name {
  color: #551a8b;
  font-weight: bold;
}

.city .time {
  font-size: 48px;
  font-weight: bold;
  color: #844abb;
}

.city .time small {
  font-size: 24px;
  vertical-align: middle;
  line-height: 48px;
  color: #d2aef3;
}

.date {
  opacity: 0.7;
  color: #3b1f38;
}

footer {
  text-align: center;
  font-size: 18px;
  color: #1e2a2e;
  margin-top: 20px;
}

footer strong {
  color: #551a8b;
}

footer a {
  color: #844abb;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #b6eafa;
}
